<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetSociety</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="container">
        <header>
            <h1>PetSociety</h1>
        </header>
        <aside>
            <ul>
                <li class="perfil"><img src="imagenes/WhatsApp Image 2021-05-26 at 20.32.50 (1).jpeg" alt=""></li>
                <li><img src="imagenes/5e5409619cd90101bc893d4f371a9d6a.png" alt=""></li>
                <li><img src="imagenes/819782.png" alt=""></li>
                <li><img src="imagenes/Dog-and-Cat-Silhouette.png" alt=""></li>
                <li><img src="imagenes/64673.png" alt=""></li>
                <li><img src="imagenes/settings--v2.png" alt=""></li>
            </ul>
        </aside>
        <!-- <div id="body">
            <div class="posteos">
                <img src="imagenes/dog.jpg" alt="">
                <ul>
                    <li><img src="imagenes/3dedcd235214cdde6b4e171fdbf66c9d-icono-de-coraz-oacute-n-by-vexels.png" alt="">321</li>
                    <li><img src="imagenes/comments.png" alt="">3</li>
                    <li><img src="imagenes/share.png" alt="">1</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi delectus cum voluptates asperiores
                    omnis iure rerum exercitationem quidem harum pariatur commodi adipisci accusantium, consequatur
                    excepturi incidunt inventore, quia ut necessitatibus.</p>
            </div>
        </div> -->
    </div>
</body>

</html>