<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/mapa.css' %}">
    <title>PetSociety-Mapa</title>
</head>
<body>
    <div id="container">
        <header>
            <header> <a href="/home"><img src="{% static 'imagenes/home3.png' %}" alt=""></a>
           
            <h1>Mapa</h1>
        </header>
        <aside>
            <ul>
                <li> <a href="/perfil"><img src="{% static 'imagenes/perfil3.png' %}" alt=""></a></li>
                <li><a href="/tienda"><img src="{% static 'imagenes/tienda.png' %}" alt=""></a></li>
                <li><a href="/mapa"><img src="{% static 'imagenes/patita.png' %}" alt=""></a></li>
                <li><img src="{% static 'imagenes/silueta.png' %}" alt=""></li>
                <li><img src="{% static 'imagenes/lupa.png' %}" alt=""></li>
                <li><img src="{% static 'imagenes/configuracion.png' %}" alt=""></li>
            </ul>
        </aside>
        
    </div>
</body>
</html>